<div class="container">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Q: Can we meet you in person before we commit? <br />
      A: Yes! I offer free in person consultation in a public setting of your
      choosing so you and your furry friends can determine together if I am a
      good fit for you.
    </li>
    <li class="list-group-item">
      Q: Are you mindful of reactive dogs? <br />
      A: Yes, very. Ivy prior to her surgeries was friendly with other dogs, but
      now she is very guarded. I am no stranger to zig zagging through the
      neighborhood and keeping my head on a swivel for other pups.
    </li>
    <li class="list-group-item">
      Q: Do you offer care to cats as well?<br />
      A: Absolutely, you need litter scooped and your pets fed, I got you.
    </li>
    <li class="list-group-item">
      Q: Do you offer over nights? <br />
      A: Unfortunately not at the moment. I have my own zoo at home that needs
      my attention, and still work a couple night shifts a week.
    </li>
    <li class="list-group-item">
      Q: What neighborhoods do you cover? <br />
      A: Preferably south Philly as I often bike around the city, however I do
      own a car and we can discuss if you are further away.
    </li>
    <li class="list-group-item">
      Q: Will you keep us updated on our pets> <br />
      A: Absolutely, communication is very important to me. I will update you
      with pictures, as well as if your critters have gone 1 or 2 on their
      walks, and their general demeanor.
    </li>
    <li class="list-group-item">
      Q: Do you still work in the service industry? <br />
      A: I do, but just part time.
    </li>
  </ul>
</div>
