<p>My name is Kelcie, I have been a South Philly resident, as well as in the Philadelphia bar and restaurant industry for going on 11 years. 
    I have always loved my industry and the friends I’ve made over the years in the Philadelphia neighborhoods. 
    I am passionate about the outdoors, and  have always had a deep love for animals, especially doggies. 
    The highlight of many of my shifts over the years was befriending the neighborhood pups. 
    I myself have one big ol baby of dog, Ivy. She’s a 75lb Pitty who totally thinks she’s 10lb weenie dog, 
    or perhaps even a cat, as she has grown up amongst my three kitties, Gnarly-Quinn, Sasha, and Gomez.
     During the height of the pandemic Ivy tore both of her ACLS back to back .
     It took a lot of rehab and time to get her back to herself, and I was thankful to have help along the way. 
     The journey Ivy and I had through her healing process made me, for the first time,  want to take a few steps 
     back from the service industry, and be able to give other people comfort that their furry best friend was being 
     loved and taken care of when they’re out of the house. Though I have not fully left the service industry, I did 
     scale back my hours and work a few nights a week. This is why I am best suited for those who work 9-5s. For me it is a great balance, 
     plus who can resist the adorable excitement of a dog when you beg the question, <span class="larger">Who wants to go on a walk?</span>  </p>
