/* You can add global styles to this file, and also import other style files */
h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: 200;
}

h2 {
    font-family: 'Shrikhand', cursive;
    font-weight: 100;
}

p {
    font-family: 'Cormorant Garamond', serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
